<nav class="navbar navbar-expand bg-light">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{pageTitle}}</a>
  <ul class="nav">
    <li>
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active-link">Products</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active-link" >Users</a>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <button class="btn btn-light" [routerLink]="['/products', 0, 'edit']" routerLinkActive="active-button"><i class="fa fa-plus-circle"></i> Create New Product</button>
    </li>
    <li>
      <button class="btn btn-primary" [routerLink]="['/login']" routerLinkActive="active-button">Login</button>
    </li>
    <li>
      <button class="btn btn-danger" (click)="logOut()">Log Out</button>
    </li>
  </ul>
</nav>
<div class="container">
  <div>
    <router-outlet name="notificationOutlet"></router-outlet>
  </div>    
    <router-outlet></router-outlet>
  <div class="overlay" *ngIf="showLoader">
    <div class="loader"></div>
  </div>
</div>
